.container {
  border: 2px solid red;
  height: 100vh;
}
.subContainer {
  padding-left: 4rem;
  padding-right: 4rem;
}
.section1 {
  height: 35vh;
  background-color: #007e67;
}
.section2 {
  background-color: #f1f5f9;
  height: 65vh;
}
