.container {
  /* border: 2px solid red; */
  height: 100vh;
}
.subContainer {
  padding-left: 5.15rem;
  padding-right: 5.15rem;
  /* border: 2px solid red; */
}
.section1 {
  height: 47.4vh;
  background-color: #007e67;
}
.section2 {
  background-color: #f1f5f9;
  height: 52.6vh;
}
