<div class="container">
  <div class="topbox">
    <div class="topBoxInside">
      <div class="halfOne">
        <h2>TROTS</h2>
        <h1>350,983</h1>
      </div>
      <div class="halfTwo">
        <div class="circle1">
          <img class="stepLeft" src="https://img.icons8.com/android/24/ffffff/right-shoe.png" />
          <img class="stepRight" src="https://img.icons8.com/android/24/ffffff/right-shoe.png" />
        </div>
      </div>
    </div>
    <div class="bottomBoxInside">
      <img src="https://img.icons8.com/android/24/13b881/up.png" />
      <h3 class="percentUp">3.45%</h3>
      <div>
        <h4 class="monthDescription">Since last month</h4>
      </div>
    </div>
  </div>

  <div class="topbox">
    <div class="topBoxInside">
      <div class="halfOne">
        <h2>USERS</h2>
        <h1>2,382</h1>
      </div>
      <div class="halfTwo">
        <div class="circle2">
          <img src="https://img.icons8.com/android/24/FFFFFF/user.png" />
        </div>
      </div>
    </div>
    <div class="bottomBoxInside">
      <img class="downArrow" src="https://img.icons8.com/android/24/ef4444/up.png" />
      <h3 class="percentDown">7.62%</h3>
      <div>
        <h4 class="monthDescription">Since last month</h4>
      </div>
    </div>
  </div>

  <div class="topbox">
    <div class="topBoxInside">
      <div class="halfOne">
        <h2>FUNDRAISING</h2>
        <h1>$938,923</h1>
      </div>
      <div class="halfTwo">
        <div class="circle3">
          <img class="bankNotes" src="https://img.icons8.com/android/48/FFFFFF/banknotes.png" />
        </div>
      </div>
    </div>
    <div class="bottomBoxInside">
      <img src="https://img.icons8.com/android/28/13b881/up.png" />
      <h3 class="percentUp">1.01%</h3>
      <div>
        <h4 class="monthDescription">Since last month</h4>
      </div>
    </div>
  </div>
</div>
